* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #25242b;
  /* padding: 4em; */
}



.App-header {
  position: absolute;
  background-color: #25242b;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  
  /* width: 80vw; */
  width:50vw;
  

  transition: 0.5s ease;

  margin: 1em;
}


.card {
  display: flex;
  /* gap: 20px; */
  padding: 20px;
  background-color: #302e38;
  text-align: left;
  border-radius: 10px;
  flex-direction: column;

  /* width: 300px; */
  width:80%;
  cursor: pointer;
}


.card * {
  /* very important this makes the onclick eventlistener work */
  pointer-events: none;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 40px;

  /* width:50vw; */
}

.card img{
  width: 100%;
  aspect-ratio: 9/10;
  height: 100%;

  object-fit: cover;
  border-radius: 10px;
}

.card h1{
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

.timestamp{
  color: #a0a0a0;
  font-size: 0.8rem;
}


/* -=-=-=--=-=-=--=-=-=--=-MODAL=-=--=-=-=--=-=-=--=-=-=- */
.modal {
  position: fixed;
  top: 0;
  /* right: -100%; */
  z-index: 1000;
  width: 40%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* pointer-events: none; */
  /* transition: 0.5s ease; */

  transition: 0.5s ease;

  border-style: dotted;

  background-color: rgba(255, 255, 255, 0.26);
}