/* -=-=-=--=-=-=--=-=-=--=-MODAL=-=--=-=-=--=-=-=--=-=-=- */
.modal {
    position: fixed;
    top: 0;
    /* right: -100%; */
    z-index: 1000;
    width: 40%;
    height: 100%;
    display: flex;
    /* justify-content: center; */
    /* align-items: center; */
    /* pointer-events: none; */
    /* transition: 0.5s ease; */
  
    transition: 0.5s ease;
  
    /* border-style: dotted; */
  
    background-color: #fff7b8;
    color: #1f1f1f;

    /* left border */
    border-left: 3px solid #1f1f1f;
}

.modal .modal-content{
    position: relative;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    /* align-items: center; */
    width: 100%;
}
.modal .modal-content .modal-box{
    position: relative;
    /* rounded box */
    border-radius: 10px;
    background-color: transparent;
    padding: 1rem;
    margin: 1rem 1rem 0 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 3px solid #1f1f1f;
    /* align-items: center; */

    /* width: calc(90% - 2rem); */
}

.modal-heading{
    margin: 1.5rem 1rem -0.5rem 1rem;
}

.modal .modal-content p{
    display: flex;
    flex-direction: row;

    color: #6b6b6b;
    font-size: 0.8rem;
}

/* the following is an editable input tag */
#modal-card-name{
    border: none;
    background-color: transparent;
    color: #1f1f1f;
    font-size: 2rem;
    font-weight: bold;
    margin: 0;
    padding: 0;
    width: 100%;
    text-align: left;

    height: 3rem;
    outline: none;
}

#modal-card-name:focus{
    outline: none;
    border-bottom: 1px solid white;
}

#modal-card-name::placeholder{
    color: #a0a0a0;
    font-size: 1.5rem;
    font-weight: bold;
}

.modal-buttons{
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    margin: 1rem;

    display: flex;
    justify-content: flex-end;
}


.submit-changes {
    padding: 1rem;
    
    border: none;
    border-radius: 10px;
    background-color: #1f1f1f;
    color: white;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    outline: none;

    height: 3rem;

}

.submit-changes:hover{
    background-color: #2f2f2f;
}

.delete-card{
    /* padding: 1rem; */
    height: 3rem;
    aspect-ratio: 1/1;
    margin-left: 0.5rem;
    
    border: none;
    border-radius: 10px;
    background-color: #da8a8a;
    color: white;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    outline: none;

    display: flex;
    justify-content: center;
    align-items: center;
    border: #1f1f1f 3px solid;
}

.delete-card:hover{
    background-color: #bd4949;
}

.delete-card svg{
    width: 2rem;
    height: 2rem;
    object-fit: cover;
    filter:invert(1)
}

.conversation {
    position: relative;
    height: auto;
}

.conversation .conversation-content{
    border: none;
    background-color: transparent;
    color: #1f1f1f;
    font-size: 1rem;
    font-weight: bold;
    margin: 0;
    padding: 0;
    width: 100%;
    text-align: left;

    height: 100%;
    outline: none;

    /* prevent horizontal */
    resize: none;
}